{% extends 'base.html.twig' %}

{% block title %}Liste des histoires{% endblock %}

{% block body %}

<div class="container">
	<div class="content">
		<h1>Liste des histoires :</h1>
		<a href="{{path('add_story')}}">Ajouter une histoire</a>
		<ul>
			{% for story in stories %}
			<li><a href="{{path('show_story', {'id':story.id})}}">{{ story.title }}</a> - <a href="{{path('update_story', {'id':story.id})}}">Modifier</a> - <a href="{{path('remove_story', {'id':story.id})}}">Supprimer</a></li>
			{% endfor %}
		</ul>
		<a href="{{path('show_categories')}}">Liste des catégories</a>
	</div>
</div>

{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('CSS/style-admin.css') }}">

{% endblock %}
